<div class="d-flex justify-content-center">
    <img src="assets/images/av-expert.svg" alt="AV Expert" class="login-logo"/>
</div>
  
<h1 id="title" class="title">Cambiar contraseña</h1>
<p class="sub-title">Por favor ingresa los siguientes datos</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
    <p class="alert-title"><b>Oh !</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
    <p class="alert-title"><b>Hurra !</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
    </ul>
</nb-alert>

<form (ngSubmit)="resetPass()" #resetPassForm="ngForm" aria-labelledby="title">
    <div class="form-control-group">
        <label class="label" for="input-passwordReset">
            Codigo de Recuperación:
        </label>
        <input nbInput  type="text"
        [(ngModel)]="user.passwordReset"
        #passwordReset="ngModel"
        id="input-passwordReset"
        placeholder="Codigo de recuperación"
        autofocus
        fullWidth
        fieldSize="large"
        name="passwordReset"
        >
    </div>
    <div class="form-control-group">
        <label class="label" for="input-email">
            Email:</label>
        <input nbInput  id="input-email" 
        [(ngModel)]="user.email"
        #email="ngModel"
        id="input-email"
        name="email"
        pattern=".+@.+\..+"
        placeholder="Email"
        autofocus
        fullWidth
        fieldSize="large"
        [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
        [required]="getConfigValue('forms.validation.email.required')"
        [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    </div>
    <div class="form-control-group">
        <label class="label" for="input-password">Nueva contraseña:</label>
        <input nbInput
           [(ngModel)]="user.password"
           #password="ngModel"
           type="password"
           id="input-password"
           name="password"
           class="first"
           placeholder="Nueva contraseña"
           autofocus
           fullWidth
           fieldSize="large"
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
           [required]="getConfigValue('forms.validation.password.required')"
           [minlength]="getConfigValue('forms.validation.password.minLength')"
           [maxlength]="getConfigValue('forms.validation.password.maxLength')"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
            <ng-container *ngIf="password.invalid && password.touched">
            <p class="caption status-danger" *ngIf="password.errors?.required">
                ¡Se requiere contraseña!
            </p>
            <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                Password should contains
                from {{getConfigValue('forms.validation.password.minLength')}}
                to {{getConfigValue('forms.validation.password.maxLength')}}
                characters
            </p>
            </ng-container>
    </div>

    <div class="form-group">
        <label class="label" for="input-re-password">Confirmar contraseña:</label>
        <input nbInput
           [(ngModel)]="user.passwordRepeat"
           #rePass="ngModel"
           id="input-re-password"
           name="rePass"
           type="password"
           class="last"
           placeholder="Confirmar contraseña"
           fullWidth
           fieldSize="large"
           [status]="rePass.touched
               ? (rePass.invalid || password.value != rePass.value ? 'danger' : 'success')
               : 'basic'"
           [required]="getConfigValue('forms.validation.password.required')"
           [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
        <ng-container *ngIf="rePass.touched">
        <p class="caption status-danger" *ngIf="rePass.invalid && rePass.errors?.required">
            Campo Obligatorio
        </p>
        <p class="caption status-danger" *ngIf="password.value != rePass.value && !rePass.errors?.required">
            La contraseña no coincide con la contraseña de confirmación.
        </p>
        </ng-container>
    </div>

    <button nbButton
          status="primary"
          fullWidth
          size="large"
          [disabled]="submitted || !resetPassForm.valid"
          [class.btn-pulse]="submitted">
        Cambiar Contraseña
    </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Regresar al Login</a></p>
</section>

