<!--<iframe class="video" src="https://www.youtube.com/embed/xkUyIYfmTmg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<div class="row">
    <div class="col-9">
        <iframe class="video"  src="https://www.youtube.com/embed/TlB_eWDSMt4?rel=0&amp;autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-3">
        <ngx-chats-component></ngx-chats-component>
    </div>
</div>

